:root {
  color-scheme: light dark;
  --primary-dark-color: #0d131b;
  --secondary-dark-color: #1f252e;
  --primary-light-color: #d9ebf2;
  --secondary-light-color: #394960;
  --primary-color: #5967f6;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: fit-content;
  padding: 2rem 3rem;
  row-gap: 3rem;

  background-color: var(--primary-dark-color);
  color: var(--secondary-light-color);

  transition: all 0.3s ease-out;
}

.logoContainer {
  display: inline-flex;
}

.navLinksContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  width: fit-content;
  height: fit-content;
}

.navLink {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  height: fit-content;

  text-decoration: none;
  color: var(--secondary-light-color);
  font-weight: 500;
  transition: all 0.3s ease;
  
  :hover {
    color: var(--primary-color);
  }

  i {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

}

.active {
  color: var(--primary-color);
}

.navButtonLogout {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;

  height: fit-content;
  width: fit-content;

  background: none;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  color: var(--secondary-light-color);
  transition: all 0.3s ease;
  cursor: pointer;

  :hover {
    color: var(--primary-color);
  }

  i {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 1024px) {
  nav {
    padding: 1.5rem 2rem;
  }

  .navLink {
    i {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
    p {
      font-size: 0.875rem;
    }
  }

  .navButtonLogout {
    i {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 767px) {
  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 767px;
    padding: 1rem 0rem;
    justify-content: center;
    column-gap: 1.5rem;

    align-items: center;
    height: fit-content;

    position: fixed;
    bottom: 0;
    left: 0;
  }

  .logoContainer {
    height: 1rem;
  }

  .navLinksContainer {
    flex-direction: row;
    justify-content: space-around;
    row-gap: 0;
    column-gap: 1rem;
  }

  .navLink {
    i {
      font-size: 1rem;
      line-height: 1rem;
    }

    p {
      display: none;
    }
  }

  .navButtonLogout {
    p {
      display: none;
    }

    i {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}
