:root {
  color-scheme: light dark;
  --primary-dark-color: #0D131B;
  --secondary-dark-color: #1F252E;
  --primary-light-color: #D9EBF2;
  --secondary-light-color: #394960;
  --primary-color: #5967F6;

  background-color: var(--secondary-dark-color);
  color: var(--primary-light-color);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--primary-light-color);
    color: var(--primary-dark-color);
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.08rem;
  text-decoration: none;
}